<div class="card">
    <div class="card-body">
      <div class="h2">
          <p>{{ author.get_full_name }}</p>
      </div>
      <div class="h3 text-muted"></div>
          <p>{{ author.username }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="h6 text-muted">
                <p>Подписчиков: {{author.following.count}} <br />
                    Подписан: {{author.follower.count}}</p>
            </div>
        </li>
  </div>